{% extends "base.html" %}

{% block content %}
<head>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=3.0&ak=114a407c22b93e264b7dedee42436c61"></script>
<style type="text/css">

body, html {width: 100%; height: 100%; overflow: hidden; margin:0; font-family: "微软雅黑"}

#container1
{width: 45%;height: 100%;float:left;overflow: hidden;margin:0;font-family:"微软雅黑";}
#container2
{width: 55%;height: 100%;float:right;margin:0; overflow:scroll}
#allmap{margin: 0 0 0; height: 100%}
#photo{margin: 0 0 0; height: 100%}
</style>
</head>
<body>
	<div id="container1"><div id = "allmap"> </div></div>
	<div id="container2">
		<img src= '/showphoto/{{ img_id }}'>
	</div>
<script type="text/javascript">
var map = new BMap.Map("allmap"); 
map.centerAndZoom(new BMap.Point(108.841, 34.1284), 14); 
map.enableScrollWheelZoom(true);
var walking = new BMap.WalkingRoute(map, { 
    renderOptions: { 
        map: map, 
        autoViewport: true 
    }
});
var start = new BMap.Point({{ ax }}, {{ ay }});
var end = new BMap.Point({{ bx }}, {{ by }});
walking.search(start, end);
</script>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">模态框（Modal）标题</h4>
            </div>
            <div class="modal-body">在这里添加一些文本</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary">提交更改</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

</body>
{% endblock %}
