{% extends "base.html" %}

{% block content %}

<script type="text/javascript" src="http://api.map.baidu.com/api?v=3.0&ak=114a407c22b93e264b7dedee42436c61"></script>
<style type="text/css">
body, html,#container {width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";}
</style>
<body>
<div id="container"></div>
<script type="text/javascript">
var map = new BMap.Map("container"); 
map.centerAndZoom(new BMap.Point(108.841, 34.1284), 14); 
var walking = new BMap.WalkingRoute(map, { 
    renderOptions: { 
        map: map, 
        autoViewport: true 
    }
});
var start = new BMap.Point(108.8347, 34.130634);
var end = new BMap.Point(108.839036, 34.1319);
walking.search(start, end);
</script>

{% endblock %}
