{% extends "base.html" %}

{% block content %}
<head>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=3.0&ak=114a407c22b93e264b7dedee42436c61"></script>
<style type="text/css">

body, html {width: 100%; height: 100%; overflow: hidden; margin:0; font-family: "微软雅黑"}

#container1
{width: 40%;height: 100%;float:left;overflow: hidden;margin:0;font-family:"微软雅黑";}
#container2
{width: 60%;height: 100%;float:right;margin:0;}
#allmap{margin: 0 0 0; height: 100%}
#photo{margin: 0 0 0; height: 100%}
</style>
</head>
<body>
	<div id="container1"><div id = "allmap"> </div></div>
	<div id="container2">
		<img src= '/showphoto/{{ img_id }}'>
	</div>
<script type="text/javascript">
var map = new BMap.Map("allmap"); 
map.centerAndZoom(new BMap.Point(108.841, 34.1284), 14); 
map.enableScrollWheelZoom(true);
var walking = new BMap.WalkingRoute(map, { 
    renderOptions: { 
        map: map, 
        autoViewport: true 
    }
});
var start = new BMap.Point({{ ax }}, {{ ay }});
var end = new BMap.Point({{ bx }}, {{ by }});
walking.search(start, end);
</script>
</body>
{% endblock %}
